body{
    text-align: center;
    background-image: url('Schirmer-PicnicII.jpeg');
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.intro {
    margin: 80px auto;
    max-width: 700px;
    padding: 40px;
    background: rgba(255,255,255,0.6);
}

.menu {
    margin: 60px auto;
}

button {
    background: black;
    padding: 15px;
    color: white;
    border: 0;
}
