body{
    margin: 0;
    text-align: center;
    background-image: url('Schirmer-PicnicII.jpeg');
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
}

.intro {
    margin: 40px;
    max-width: 700px;
    padding: 40px;
    background: rgba(255,255,255,0.6);
    border-radius: 5px;
}

h1 {
    font-size: 3em;
    font-weight: 300;
}

.menu {
    margin: 60px auto 20px auto;
}

button {
    background: black;
    padding: 15px;
    color: white;
    border: 0;
}
